@charset "UTF-8";

body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 71, 71);    
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 71, 71);
    color: white;
}

h2 {
    color: rgb(69, 141, 141);
}

.basico {
    color: rgb(69, 141, 141);
    font-weight: bold;
}

.intermediario {
    color: rgb(141, 136, 69);
    font-weight: bold;
}

.avançado {
    color: rgb(141, 69, 69);
    font-weight: bold;
}