@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 250px;
    text-align: center;
}

header > h1 {
    font-size: 3.5em;
    padding-top: 75px;
    padding-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section > p {
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    padding: 10px 0px 0px 30px;
}

.primeirop {
    margin-top: 120px;
}

.fundob1 {
    height: 500px;
    border: black solid 1px;
}

.fundoflor {
    background-image: url(images/background001.jpg);
    background-size: cover;
    background-position: right center;
    height: 600px;
    border: black solid 1px;
    color: white;
}

.fundob2 {
    height: 800px;
    border: black solid 1px;
}

.fundofolhas {
    background-image: url(images/background002.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    border: black solid 1px;
}

footer {
    background-color: black;
    color: white;
    font-style: italic;
    text-align: center;
    padding: 5px;
}


